material_e_config/JAVASCRIPT/node_modules/
material_e_config/JAVASCRIPT/package.json
material_e_config/JAVASCRIPT/package-lock.json
material_e_config/JAVASCRIPT/Introducao_Javascript/rocket/denovo/
material_e_config/JAVASCRIPT/Introducao_Javascript/rocket/node_modules/
material_e_config/JAVASCRIPT/Introducao_Javascript/rocket/package-lock.json
material_e_config/JAVASCRIPT/Introducao_Javascript/rocket/package.json
/node_modules/
/ambienteteste/
projetos/IA_aulas/ambiente/
Djangoteste/ambiente