<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Sistema Acadêmico</title>
</head>
<body>
    <div>
        <div>
            <h1>Sistema Acadêmico</h1>
        </div>
        <div>
            <h3>Nova Turma</h3>
            <form action="turmas-gravar.php" method="post" >
                <div>
                    <label for="descTurmas">Turma:</label>
                    <input type="text" name="descTurmas" id="descTurmas">
                </div>

                <div>
                    <label for="ano">Ano:</label>
                    <input type="text" name="ano" id="ano">
                </div>
                <div>
                    <input type="submit" value="Gravar">
                </div>

            </form>
        </div>
    </div>
    
</body>
</html>