<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Disciplinas</title>
</head>
<body>
    <div>
        <div>
            <h1>Cadastro de Disciplinas</h1>
        </div>
        <div>
            <h3>Nova disciplina</h3>
            <form action="disciplinas-gravar.php" method="post" >
                <div>
                    <label for="nomeDisciplina">Disciplina:</label>
                    <input type="text" name="nomeDisciplina" id="nomeDisciplina">
                </div>

                <div>
                    <label for="cargaHoraria">Carga Horaria:</label>
                    <input type="text" name="cargaHoraria" id="cargaHoraria">
                </div>
                <div>
                    <input type="submit" value="Gravar">
                </div>

            </form>
        </div>
    </div>
    
    
</body>
</html>